<!--Hieronder is met angular functionaliteit verreikt-->                     
<div class="ng-cloack" data-app="registration"> 
<!--Tot hierboven is met angular functionaliteit verreikt-->
   
<div id="registration_wrapper" class="animated fadeInUpBig" ng-show="currentStep == 2">
		 	<div class="container">
		 		<div class="progress progress-success">
				 		<div class="bar" style="width: 25%;"></div>
  				</div>

  				<h5>Registratie stap {[currentStep]} van {[numberOfSteps]}</h5>

		 		<div class="row-fluid step" id="step2">

		 			<div class="span12">
		 				<h3>Jouw persoonlijke gegevens</h3>

				 			<div class="row-fluid">
				   			<div class="span4">
				   				<form id="registration" method="post" name="registrationForm1" enctype="multipart/form-data" ng-controller="part1" ng-submit="submit()">
									 <fieldset>
										<legend>Personalia</legend>
										<div class="control-group input-prepend input-block-level">
											 <div class="controls">
											 	<span class="add-on"><i class="icon-user"></i></span>
											 	<input name="caption"  class="input input-big span11 warning" type="text" placeholder="Voornaam" required ng-model="user.caption">
											 	<p class="help-block"></p>
											 </div>
										</div>
										<div class="control-group input-prepend input-block-level">
										  	<span class="add-on"><i class="icon-user"></i></span>
										  	<input name="achternaam"  class="input input-big span11 warning" type="text" placeholder="Achternaam" required ng-model="user.achternaam">
									 	</div>
									 	<div class="row-fluid">
										 	<div class="control-group span6">
										 		<div class="controls">
													<div class=" radio inline">
														<input type="radio" name="geslacht" id="geslacht1" value="m" ng-model="user.geslacht">
														<label for="geslacht1">Man</label>
													</div>
				
													<div class="radio inline">
														<input type="radio" name="geslacht" id="geslacht2" value="v" ng-model="user.geslacht">
														<label for="geslacht2">Vrouw</label>
													</div>
													<p class="help-block"></p>
											  </div>
										 	</div>
										 	<div class="control-group input-prepend span6">
										 		<div class="controls">
										 			<span class="add-on"><i class="icon-calendar"></i></span>
													<input type="date" class="control-group input span10" placeholder="Geboortedatum" required>
													<p class="help-block"></p>
											  </div>
										 	</div>
									 	</div>
									 </fieldset>
			
									<fieldset>
										<legend>Inloggegevens</legend>
                                        
										<div class="control-group input-prepend input-block-level">
											<div class="controls">
											  	<span class="add-on"><i class="icon-envelope"></i></span>
												<input class="input span11" type="email" name="email" id="email" placeholder="E-mail adres" rel="tooltip" title="Gebruik hier je e-mailadres waarop je berichten van recruiters wilt ontvangen." data-placement="right" data-validation-email-message="Geen geldig e-mail adres." ng-model="user.email" validate-equal="user.email2" required>
												<p class="help-block"></p>
										  	</div>
										  </div>
										  <div class="control-group input-prepend input-block-level">
										  	<div class="controls">
												<span class="add-on"><i class="icon-envelope"></i></span>
												<input class="input span11" type="text" id="mail_check" placeholder="Herhaal e-mail adres ter controle" data-validation-matches-match="email" data-validation-matches-message="E-mail adressen komen niet overeen" ng-model="user.email2" validate-equal="user.email">
												<p class="help-block"></p>
										  	</div>
										  </div>
										  <div class="input-prepend input-block-level">
										  	<div class="controls">
												<span class="add-on"><i class="icon-lock"></i></span>
												<input class="input span11" id="password" placeholder="Wachtwoord" required name="secret" type="password" ng-model="user.password" validate-equal="user.password2" ng-required="!user.fbid" ng-minlength="5">
											 	<p class="help-block"></p>
										  	</div>
										  </div>
										  <div class="control-group input-prepend input-block-level">
										  	<div class="controls">
												 	<span class="add-on"><i class="icon-lock"></i></span>
												 	<input class="input span11" type="password" name="password_check" id="password_check" placeholder="Herhaal Wachtwoord ter controle" data-validation-matches-match="secret" data-validation-matches-message="Wachtwoorden komen niet overeen" ng-model="user.password2" validate-equal="user.password" ng-required="!user.fbid">
												 	<p class="help-block"></p>
										  	</div>
										  </div>
		                   
                        <input type="hidden" name="facebookid" value="{[user.fbid]}"/>
                        <input type="hidden" name="invitehash" value="={session.clmmpt_invitehash}"/>

                        <div caretform="fakeForm"></div>
									</fieldset>

									<input type="submit" value="Verder" ng-disabled="registrationForm1.$invalid" class="btn btn-danger pull-right">

				   				</form>
				   			</div>
				   		</div>	   		
			 		</div>
		 		</div>
		 	</div>
</div>
        
	<div id="fp_wrapper">
		<div id="fp_intro_red" data-stellar-ratio="1.35" data-stellar-background-ratio="0.25" data-stellar-vertical-offset="50"  >
			 <div class="container">
				 <div class="curtain" id="introductie" >
					 <div class="row-fluid" ng-show="currentStep == 1">
						 <h1 class="headline">Je carrière begint op Magnet.me</h1>
					 </div>

					 <div class="row-fluid" ng-show="currentStep == 1">
						 <div class="span8">
							 <h2 class="tagline">Ontvang netwerkverzoeken van bedrijven, bouw een netwerk op van interessante werkgevers en bepaal zelf wie jouw CV ziet en met wie je in contact staat.</h2>
						 </div>
				 </div>
				 <div class="row-fluid" ng-show="currentStep == 3">
						 <h1 class="headline">Dikke lul!</h1>
					 </div>

					 <div class="row-fluid" ng-show="currentStep == 3">
						 <div class="span8">
							 <h2 class="tagline">Er is een activatiemail gestuurd naar {[user.unimail]}.<br /> Volg de instructies in dit mailtje om je account te activeren.</h2>
						 </div>
				 </div>
            
<!--Hieronder is met angular functionaliteit verreikt-->                     
					 ${fakeForm}
					 <div class="row-fluid" ng-show="currentStep == 1" >
						 <div class="span5">
							 <form id="registration" method="post" name="registrationForm1" enctype="multipart/form-data" ng-controller="part1" ng-submit="submit()">
								 <fieldset>
                                Stap: {[currentStep]} / {[numberOfSteps]}
                                <span class="alert alert-error" ng-show="error">{[error]}<br/></span>
								 	<div class="studentmail-wrapper animated">
								 		<div class="validator" ng-hide="uniMailError"><i class="icon-ok-sign"></i></div>
											<input
												class="input-block-level"
												type="text"
												placeholder="Vul je universiteits- of HBO emailadres in en meld je aan" ng-model="user.unimail" ui-keypress="{enter: 'register()'}" autofocus="autofocus">
										  <div class="error-message animated fadeInLeft" >{[uniMailError]}</div>
									 </div>
									 <div class="row-fluid">
                                     <a class="btn btn-info btn-facebook btn-large large btn-block" type="submit" rel="popover" data-placement="right" title="Magnet.me zal nooit ongevraagd je Facebook account gebruiken." ng-disabled="uniMailError" ng-click="registerFB()"><div class="icon_wrapper"><i class="icon-facebook"></i></div>AANMELDEN MET FACEBOOK</a>

										 <div class="btn_seperator">
											 <span class="text">aanmelden zonder Facebook?</span>
											 <span class="line"></span>
										 </div>
                                         <a class="btn btn-primary registration_reg btn-block" ng-disabled="uniMailError" ng-click="register()" rel="tooltip" data-placement="right" data-original-title="Zeker weten? Aanmelden met Facebook duurt slechts 15 seconden...">AANMELDEN</a>
									 </div>
								 </fieldset>
								 <div class="problems">
								 	<p><i class="icon-question-sign"></i>Problemen met inloggen of geen werkend studentenemail? <a href="#">Klik hier</a></p>
								 </div>
							 </form>
						 </div>
                 </div>                     
			 </div>
		 </div>
     </div>
<!--Tot hierboven is met angular functionaliteit verreikt-->           
 

		 <div id="uitleg">
			 <div class="container">
				 <div class="row-fluid" id="usps">
					 <h1>Alles op één plek.</h1>

					 <div class="row-fluid" id="usps_cols">
						 <div class="span4 usp">
							 <img class="img-rounded span12" src="${image-url:usp_usp1-bw}"> <span class="span12 usp_text">Persoonlijk overzicht van voor jou relevante en interessante evenementen, stages en vacatures.</span>
						 </div>

						 <div class="span4 usp">
							 <img class="img-rounded span12" src="${image-url:usp_usp2-bw}"> <span class="span12 usp_text">Meer dan 220 bedrijven op een plek, van multinationals tot start-ups.</span>
						 </div>

						 <div class="span4 usp">
							 <img class="img-rounded span12" src="${image-url:usp_usp3-bw}"> <span class="span12 usp_text">Ontvang netwerkverzoeken van bedrijven op basis van jouw profiel en ontdek welke bedrijven jou interessant vinden.</span>
						 </div>
					 </div>
				 </div>

				 <div class="row-fluid" id="video">
					 <div class="span4" id="vimeo_container">
						 <iframe src="http://player.vimeo.com/video/41917190?title=0&amp;byline=0&amp;portrait=0&amp;color=cc3c3c" width="500" height="281" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
					 </div>

					 <div class="span8 text">
						 <h3>Overzichtelijk, makkelijk & persoonlijk.</h3>

						 <p class="video_text">Maak binnen een paar minuten een gratis profiel aan en ontvang op basis van jouw profiel netwerkverzoeken van bedrijven. Zo zie je in een keer welke bedrijven in jou geïnteresseerd zijn (voor bijvoorbeeld een stage), bepaal je zelf van welke bedrijven je berichten ontvangt en wie jouw CV mag zien.</p>

						 <div class="row-fluid">
							 <a class="btn btn-large btn-danger">Maak direct je account aan.</a>
						 </div>
					 </div>
				 </div>
				 <hr>

				 <div class="row-fluid" id="clients">
				<h3>Kom in één keer in contact met meer dan 250 bedrijven en kantoren:</h3>

				<div class="row-fluid" id="client_list">
					<div class="span4"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span4"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span4"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span4"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span4"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span4"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span3"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span2"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>

				<div class="row-fluid" id="client_list">
					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>

					<div class="span1"><img class="img-rounded span12" src="http://placehold.it/350x120&text=Client"></div>
				</div>
			</div>
			 </div>
		 </div>
	</div>