#registration_wrapper{
	position: absolute;
	width:100%;	
	top:@navbarHeight + 40;
	padding:1em 0;
	
	background:darken(white,2%);
	
	z-index:100+1;
	
		.container{
			margin:2em auto;
			
			.step{
				margin:0 auto;
				
			}
		}
		
		fieldset{
			margin:0 0 1em;
		}
	
}