@import url('../../bootstrap/variables.less');
@import url('../../bootstrap/mixins.less');
@import url('../../magnetme_global/lesshat.less');


#fp_wrapper{
	width:100%;
	
	@media (max-width: 767px) {
		margin:-@baseLineHeight;
	}
	
	.btn{
		.box-shadow(0 1px 1px rgba(0,0,0,0.25));
	}
	
	#red_accent{
			position: relative;
			border-bottom: 2px solid #cc3c3c;
			left: 0px;
			bottom:0px;
			width: 100%;
			height:0;
			z-index:3;
			
			&.fixed{
				position: fixed;
				top:85px;
				bottom: inherit;
			}
		}
	
	@media (max-width: 767px) {
	.padding_offset_container{
			padding:0 @baseLineHeight - 1;
			width:100%;
		}
	}
	
	#fp_intro{
		position: relative;
		z-index:2;

		
		&.red{
			background:@red url(@frontpage_red_image) no-repeat center center;
			
			.curtain#introductie{
				color:white;
			}
		}
		
		&.grey{
			background:@magnetme_grey url(@frontpage_grey_image) no-repeat center 25%;

			.curtain#introductie{
				color:@grayLight;
				}
		}
		


		.container{
			position: relative;
		}
	}

	.curtain#introductie{
		padding:@baseLineHeight 0;
		-webkit-transition: all 0.5 ease-in-out;
		
		
		.headline, .tagline{
			line-height: 1.25em;
		}
		
		.headline{
			font-size: 4.25em;
			font-weight: 500;
		}
		
		.tagline{
			font-weight: 400;
			font-size:1.65em;
			margin-bottom:@baseLineHeight;	
		}
		
		#registration{
		
			.studentmail-wrapper{
				position: relative;
				margin:@baseLineHeight/2 0;
				
				.validator{
					width:40px;
					height:100%;
					position: absolute;
					right:0;
					top:0;
					line-height: 3.5em;
					color:@green;
					text-align: center;
					.border-radius(2px);
				}
				
				.error-message{
					color:darken(@red,20%);
					font-weight: 500;
					display:block;
					top:0;
					margin:@baseLineHeight/2 0;
					.opacity(0);
					
					vertical-align: middle;
				}
				
				input{
					height: 3.5em;
					display:block;
				}
				
			}
		
			input, button{
				border:none;
			}
		
			.input-block-level, .btn-block{
				height: 3.5em;
				margin:@baseLineHeight/2 0;
			}
			
			button, .btn{
				text-transform: uppercase;
			}
			
			.btn{
				 padding:inherit;
				 line-height:3.5em;
			}
			
			.btn_seperator{
				.opacity(75);
				position: relative;
				height:2em;
				line-height: 2em;
				font-size:0.75em;
				text-align: center;
				width:100%;
				margin:@baseLineHeight/2 0;

				
				.line{
					width:97.5%;
					position: absolute;
					top:50%;
					left:1.25%;
					margin-top:-1px;
					height:1px;
					background:white;
					z-index:0;
				}
				
				.text{
					background:@magnetme_red;
					position: relative;
					display:inline-block;
					text-align: center;
					padding:0 @baseLineHeight/2;
					z-index:10;
				}
			}
			
			.problems{
				.opacity(75);
				margin:0.5em 0;
				line-height: @baseLineHeight*2;
				font-size:0.75em;
				
				&:hover{
				.opacity(100);}
				p{
					a{
						color:white;
						font-weight: 500;
					}
					
					i{
						margin-right:0.25em;
					}
				}
				

			}
		}
	}
	
	#uitleg{
		position: relative;
		left:0;
		bottom:0;
		
		
		&.grey{
			background:@magnetme_grey;			
				.container{
					color:@grayLight;
				}
			}
			
		&.lightgrey{
			background:@magnetme_grey_1;			
				.container{
					color:@grayLight;
				}
			}
			
		&.red{
			background:@red;
			
				.container{
					color:white;
				}
		}

	
		.container{
			padding:0 0 @baseLineHeight*3;
			
			position: relative;
			
			#usps{
				margin:@baseLineHeight*3 0;	
			
				h1{
					margin-bottom:@baseLineHeight;
				}	
			
				#usps_cols{
					.usp{
						margin-bottom:@baseLineHeight*2;
						text-align: center;
						
						img{
							.opacity(75);
						}
						.usp_text{
							margin:@baseLineHeight/2 0;
							font-size:1.25em;
							line-height: 1.25em;
							
						}
					}
				}
			}
		
			#video{
				margin:@baseLineHeight*2 0 ;
		}
		
			hr{
			border-top:none;
			border-bottom: 1px solid @grayDark;
		}
		
			#clients{
			margin:@baseLineHeight*2 0;
			
				h3{
					margin-bottom: @baseLineHeight;
				}
		
				#client-row {
					line-height: @baseLineHeight*4;
					
					.client-logo{
						text-align: center;
					}
					
				}
			}
		}
	}
}

@import url(mm_frontpage_registration.less);

	footer.frontpage{
		background:darken(@magnetme_grey,5%);
		color:@grayLight;
		padding:3em 0;
		position: relative;
		/* min-width:940px; */
		
		.container>.row-fluid{
			vertical-align: top;
		}
		
		.vertical_align{
			display:inline-block;
			position: relative;
			vertical-align: middle;
			
			&.right{
				text-align: right;
				
				a.btn{
					margin-left:0.5em;
				}
			}
		}
	}