

	/* //Facebook login/register button */
	
	.btn-facebook {
	  background: @blue;
	  color:white;
	  position: relative;
	  
	  .icon_wrapper{
			height:100%;
			background:rgba(0,0,0,.125);
			text-align: center;
			top:0;
			bottom:0;
			left:0;
			position: absolute;
			.border-radius(2px);
			.box-shadow(1px 0 0 0 rgba(0,0,0,.15));
			
			.icon-facebook{
				width:100%;
				bottom:0px;
				position: relative;
				display:inline-block!important;
				vertical-align: middle;
				.opacity(95);
			}
		
		}
		
		&.large {
		  padding-left:inherit;
		  
		  .icon_wrapper{
				width:45px;
				font-size:26px;
				
				.icon-facebook{
					line-height:46px;
				}
			
			}
		}
	}
	
	/* //Navbar login form (Jules)*/
	.navbar{
		color:@magnetme_grey_2;
		
		.container{
			height:auto;
		}
		
		
		a, label, checkbox{
			color:inherit;
			&:hover{
				color:@magnetme_grey_3;
			}
		}
		
		.btn{
			text-transform: uppercase;
			font-size:@fontSizeSmall;
		}
		

	
		.navbar-inner{
			.box-shadow(inset 0 -1px 0 lighten(@magnetme_grey,5%));
			padding:20px 0 15px;
		}
	
		.container{
			height:50px;
			position: relative;
		}
		
		#brand{
			position: relative;
			height:100%;
			display:inline-block;
			left:0;
			line-height:50px;
			padding:0 0 5px;
			
			img{
				
				width:385px/2;
			}
		}
		
		
		
		form#login{
			margin-bottom:-10px;
		
			input, button{
				margin:0;

			}
			
			.vertical_divider{
				display: inline-block;
				vertical-align: middle;
				background:@grayDark;
				width:1px;

			}
				
			input{
				background:@grayDark;
				color: @grayLighter;
				border:none;
				font-size:@fontSizeSmall;
								
				.placeholder(@grayLight);
				
				&:focus{
					.box-shadow( inset 0 0 0px 1px rgba(255,255,255,0.25);)}
					}
			
			.inlog_wrapper{
				
				.login-tool{
					display:inline-block;
					margin:5px 0 0 5px;
					
					
					label{
					margin:0;
					line-height:@baseLineHeight/2;
					}					
					input[type="checkbox"]{
						margin-right:0.25em ;
						line-height:@baseLineHeight/2;
					}
				}	
			}
		}
		
		.btn-facebook{
			padding-left:20%;
				.icon_wrapper{
					width:30px;
					font-size:16px;	
					 i{
						 line-height:32px;
					 }				
				}
		}
	}
		
		/* Navbar alerts (Jules) */
		.container#alerts{
			position: relative;
			z-index:-1;
			
			.alert{
				position: relative;
				right:0;
				margin:0 0 0.25em;
				display:inline-block;
				float:right;
				clear:both;
				box-shadow:0 2px 0 rgba(0,0,0,.15);
				
				 .close{
					 color:darken(@red,15%);
					 text-shadow: none;
					 font-weight: normal;
				 }
			}
		}
		
		/* Progress bar tweak */
		.progress{
			height:2px;
			margin-bottom:2em;
		}
		
		/* //Input append/prepend tweak (Jules) */
		
		.input-append{
			.add-on{
				.border-radius(0 2px 2px 0);
				.box-shadow(-1px 0 0 white);
				}
		}
		.input-prepend{
			.add-on{
				.border-radius(2px 0 0 2px);
				}
		}
		
		*[class*='input-']{

			.add-on{
				background-color:white !important;
				
				i{
					color:@magnetme_grey_2;
				}
			}
		}
		
		//Maakt inline labels naast input velden zichtbaar en gecentreerd.	
		
		.help-inline, .help-block{
			font-size:@fontSizeSmall;
		}
		
		.help-block{
			ul{
				margin-left:28px;
				
				li{
					list-style: none;
					line-height:@inputHeight;
				}
			}
		}
		
		/* //Tweak to optimize iCheck add-on in use with Flatstrap (Jules) */
		.checkbox, .radio{
			padding-left: 0;
			label, .iradio_minimal-grey{
				display:inline-block;
			}
			
			.iradio_minimal-grey{
				top:5px;
				margin-right:0.5em;
			}
			
			
			.focus, .hover{
				label{
				text-decoration: underline;
				}
			}			
		}
		
		//Maakt elke lengte mogelijk
		.tooltip-inner{
			max-width:none !important;	
		}
		
		//In geval van tabfocus op btn
		.btn, .input{
				
			&:focus{
				outline:none;
				.box-shadow(inset 0 0 0 1px rgba(255,255,255,0.25));
			}
		}
		
		
		fieldset{
			legend{
				margin-bottom:0;
				line-height:2em;
			}
		} 		
		
		.control-group{
			margin-bottom:1.5em;
		}
		
		
		//Select dropdown
		
		bootstrap-select.btn-group {
		    .dropdown-menu {
		        li {
		            & > a {
		                min-height:20px;
		            }
		        }
		    }
		}
		.bootstrap-select.btn-group {
		    .dropdown-menu {
		        min-width:100%;
		        -moz-box-sizing:border-box;
		        -webkit-box-sizing:border-box;
		        box-sizing:border-box;
		        dt {
		            display:block;
		            padding:3px 20px;
		            cursor:default;
		        }
		        li {
		            a {
		                i.check-mark {
		                    display: none;
		                }
		            }
		            & > dt {
		                small {
		                    font-weight:normal;
		                    font-weight:normal;
		                }
		            }
		            & > a.opt {
		                padding-left:35px;
		            }
		            small {
		                padding-left:0.5em;
		                padding-left:0.5em;
		            }
		            & > a {
		                min-height:20px;
		            }
		        }
		        li:not(.disabled) {
		            & > a:hover {
		                small {
		                    color: #64b1d8;
		                    color:rgba(255,255,255,0.4);
		                }
		            }
		        }
		    }
		    .btn {
		        .filter-option {
		            overflow:hidden;
		            position:absolute;
		            left:12px;
		            right:25px;
		            text-align:left;
		        }
		        .caret {
		            position:absolute;
		            right:12px;
		        }
		    }
		    .div-contain {
		        overflow:hidden;
		    }
		}
		.bootstrap-select {
		    .btn:focus {
		        outline: none;
		        outline-offset: -2px;
		    }
		    .btn {
		        width: 100%;
		    }
		}
		.input-append {
		    .bootstrap-select.btn-group {
		        margin-left: -1px;
		    }
		}
		.bootstrap-select.btn-group.pull-right, .bootstrap-select.btn-group[class*="span"].pull-right, .row-fluid .bootstrap-select.btn-group[class*="span"].pull-right {
		    float:right;
		}
		.bootstrap-select.btn-group, .bootstrap-select.btn-group[class*="span"] {
		    float:none;
		    display: inline-block;
		    margin-bottom: 10px;
		    margin-left:0;
		}
		.clearfix:after {
		    visibility: hidden;
		    display: block;
		    font-size: 0;
		    content: " ";
		    clear: both;
		    height: 0;
		}
		.bootstrap-select.btn-group[class*="span"] {
		    .btn {
		        width:100%;
		    }
		}
		.bootstrap-select.btn-group.show-menu-arrow {
		    .dropdown-menu::before {
		        position: absolute;
		        top: -7px;
		        left: 9px;
		        display: inline-block;
		        border-right: 7px solid transparent;
		        border-bottom: 7px solid #CCC;
		        border-left: 7px solid transparent;
		        border-bottom-color: rgba(0, 0, 0, 0.2);
		        content: '';
		    }
		    .dropdown-menu::after {
		        position: absolute;
		        top: -6px;
		        left: 10px;
		        display: inline-block;
		        border-right: 6px solid transparent;
		        border-bottom: 6px solid white;
		        border-left: 6px solid transparent;
		        content: '';
		    }
		    .dropdown-menu {
		        overflow-y:visible !important;
		    }
		}
		.bootstrap-select:not([class*="span"]) {
		    width: 220px;
		}
		.bootstrap-select.btn-group &>.disabled, .bootstrap-select.btn-group .dropdown-menu li.disabled &>a {
		    cursor: not-allowed;
		}
		.input-prepend {
		    .bootstrap-select.btn-group {
		        margin-right: -1px;
		    }
		}
		.bootstrap-select.btn-group .dropdown-menu li:not(.disabled) &>a:hover small, .bootstrap-select.btn-group .dropdown-menu li:not(.disabled) &>a:focus small {
		    color: #64b1d8;
		    color:rgba(255,255,255,0.4);
		}
		.bootstrap-select.btn-group.show-tick {
		    .dropdown-menu {
		        li.selected {
		            a {
		                i.check-mark {
		                    display:inline-block;
		                    position: absolute;
		                    right: 20px;
		                }
		            }
		        }
		        li {
		            a {
		                .pull-left {
		                    margin-right: 34px;
		                }
		            }
		        }
		    }
		}
