	/* //Facebook login/register button */
	
	.btn-facebook {
	  background: @blue;
	  color:white;
	  position: relative;
	  
	  .icon_wrapper{
			height:100%;
			background:rgba(0,0,0,.125);
			text-align: center;
			top:0;
			bottom:0;
			left:0;
			position: absolute;
			.border-radius(2px);
			.box-shadow(1px 0 0 0 rgba(0,0,0,.15));
			
			.icon-facebook{
				width:100%;
				bottom:0px;
				position: relative;
				display:inline-block!important;
				vertical-align: middle;
				.opacity(0.95);
			}
		
		}
		
		&.large {
		  padding-left:45px;
		  
		  .icon_wrapper{
				width:45px;
				font-size:26px;
				
				.icon-facebook{
					line-height:46px;
				}
			
			}
		}
	}
	
	/* //Navbar login form (Jules*/
	.navbar{
	
		.navbar-inner{
			background-color: darken(@magnetme_grey,2.5%);
		}
	
		.container{
			height:50px;
			position: relative;
		}
		
		#brand{
			position: relative;
			height:100%;
			display:inline-block;
			left:0;
			width:auto;
			line-height:50px;
			
			img{
				height:85%;
				width:auto;
			}
		}
		
		form{
		
			input, button{
				margin-left:5px;
			}
			
			.vertical_divider{
				display: inline-block;
				vertical-align: middle;
				position: relative;
				width:1px;
				height:24px;
				margin:0 0 0 5px;
				background:@grayDark;
				padding:5px 0;
				top:5px;

			}
				
			input{
				
				background:@grayDark;
				color: @grayLighter;
				border:none;
								
				.placeholder(@grayLight);
				
				&:focus{
				.box-shadow( inset 0 0 0px 1px rgba(255,255,255,0.25);)}
			}
		
		}
		
		.btn-facebook{
			padding-left:42px;
				.icon_wrapper{
					width:30px;
					font-size:16px;	
					 i{
						 line-height:32px;
					 }				
				}
		}
	}
		
		/* Navbar alerts (Jules) */
		.container#alerts{
			position: relative;
			z-index:-1;
			
			.alert{
				position: relative;
				right:0;
				margin:0 0 0.25em;
				display:inline-block;
				float:right;
				clear:both;
				box-shadow:0 2px 0 rgba(0,0,0,.15);
				
				 .close{
					 color:darken(@red,15%);
					 text-shadow: none;
					 font-weight: normal;
				 }
			}
		}
		
		/* Progress bar tweak */
		.progress{
			height:2px;
			margin-bottom:2em;
		}
		
		/* //Input append/prepend tweak (Jules) */
		
		.input-append{
			.add-on{
				.border-radius(0 2px 2px 0);
				.box-shadow(-1px 0 0 white);
				}
		}
		.input-prepend{
			.add-on{
				.border-radius(2px 0 0 2px);
				}
		}
		
		*[class*='input-']{

			.add-on{
				background-color:white !important;
				
				i{
					color:@magnetme_grey_2;
				}
			}
		}
		
		//Maakt inline labels naast input velden zichtbaar en gecentreerd.	
		
		.help-inline, .help-block{
			font-size:@fontSizeSmall;
		}
		
		.help-block{
			ul{
				margin-left:28px;
				
				li{
					list-style: none;
					line-height:@inputHeight;
				}
			}
		}
		
		/* //Tweak to optimize iCheck add-on in use with Flatstrap (Jules) */
		.checkbox, .radio{
			padding-left: 0;
			label, .iradio_minimal-grey{
				display:inline-block;
			}
			
			.iradio_minimal-grey{
				top:5px;
				margin-right:0.5em;
			}
			
			
			.focus, .hover{
				label{
				text-decoration: underline;
				}
			}			
		}
		
		//Maakt elke lengte mogelijk
		.tooltip-inner{
			max-width:none !important;	
		}
		
		//In geval van tabfocus op btn
		.btn, .input{
			text-shadow: none;
			.box-shadow(none);
				
			&:focus{
				outline:none;
				.box-shadow(inset 0 0 0 1px rgba(255,255,255,0.25));
			}
		}
		
		
		fieldset{
			legend{
				margin-bottom:0;
				line-height:2em;
			}
		} 		
		/*!
		 * Datepicker for Bootstrap
		 *
		 * Copyright 2012 Stefan Petre
		 * Licensed under the Apache License v2.0
		 * http://www.apache.org/licenses/LICENSE-2.0
		 *
		 */
		 
		.datepicker {
			top: 0;
			left: 0;
			padding: 4px;
			margin-top: 1px;
			.border-radius(4px);
			&:before {
				content: '';
				display: inline-block;
				border-left:   7px solid transparent;
				border-right:  7px solid transparent;
				border-bottom: 7px solid #ccc;
				border-bottom-color: rgba(0,0,0,.2);
				position: absolute;
				top: -7px;
				left: 6px;
			}
			&:after {
				content: '';
				display: inline-block;
				border-left:   6px solid transparent;
				border-right:  6px solid transparent;
				border-bottom: 6px solid @white;
				position: absolute;
				top: -6px;
				left: 7px;
			}
			>div {
				display: none;
			}
			table{
				width: 100%;
				margin: 0;
			}
			td,
			th{
				text-align: center;
				width: 20px;
				height: 20px;
				.border-radius(4px);
			}
			td {
				&.day:hover {
					background: @grayLighter;
					cursor: pointer;
				}
				&.day.disabled {
					color: @grayLighter;
				}
				&.old,
				&.new {
					color: @grayLight;
				}
				&.active,
				&.active:hover {
					.buttonBackground(@btnPrimaryBackground, spin(@btnPrimaryBackground, 20));
					color: #fff;
					text-shadow: 0 -1px 0 rgba(0,0,0,.25);
				}
				span {
					display: block;
					width: 47px;
					height: 54px;
					line-height: 54px;
					float: left;
					margin: 2px;
					cursor: pointer;
					.border-radius(4px);
					&:hover {
						background: @grayLighter;
					}
					&.active {
						.buttonBackground(@btnPrimaryBackground, spin(@btnPrimaryBackground, 20));
						color: #fff;
						text-shadow: 0 -1px 0 rgba(0,0,0,.25);
					}
					&.old {
						color: @grayLight;
					}
				}
			}
			
			th {
				&.switch {
					width: 145px;
				}
				&.next,
				&.prev {
					font-size: @baseFontSize * 1.5;
				}
			}
			
			thead tr:first-child th {
				cursor: pointer;
				&:hover{
					background: @grayLighter;
				}
			}
			/*.dow {
				border-top: 1px solid #ddd !important;
			}*/
		}
		.input-append,
		.input-prepend {
			&.date {
				.add-on i {
					display: block;
					cursor: pointer;
					width: 16px;
					height: 16px;
				}
			}
		}





