/* GLOBAAL */
/* iCheck bg_image import */
@greypng: '${image-url:grey_radio_button}';

/* ========= */

/* PAGINA SPECIFIEK */
/* 1. Frontpage */
@frontpage_red_image: '${image-url:mystudent_frontpage_bg}';

@frontpage_grey_image: '${image-url:mycompany_frontpage_bg}';
