.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.fixIt{padding:22px;border:solid 1px #f00;display:block;margin:20px 0 20px 0;}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
html{height:100%;width:100%;}
body{height:100%;width:100%;line-height:22px;background:#f7f7f7;text-align:left;}
body,td,th,textarea,input,select{font-family:Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:13px;color:#292e33;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
div.starWrapper{display:inline-block;}
div.starWrapper div.star{height:16px;width:16px;background:url('${image-url:bg_star}');display:inline-block;float:left;}
div.starWrapper div.star:hover,div.starWrapper div.star.active{background:url('${image-url:bg_star_f2}');}
a:link{font-weight:500;color:#cc3c3c;}
a:active{color:inherit;}
a:visited{color:inherit;}
a:hover{color:#a92c2c;text-decoration:underline;}
a.btn:link{color:inherit;text-decoration:underline;}
a.btn:active{color:inherit;text-decoration:underline;}
a.btn:visited{color:inherit;text-decoration:underline;}
a.btn:hover{color:inherit;text-decoration:none;}
hr{border:0;border-top:1px solid #c3c8cd;height:0;margin:0 0 20px 0;}
li{margin:0 0 0 15px;list-style-type:disc;}
a.docIcon{line-height:22px;text-decoration:none;}
a.docIcon img{vertical-align:bottom;margin:0 5px 0 0;}
div#waitwhileloading{width:100%;height:100%;display:block;background:#292e33;opacity:0.6;filter:alpha(opacity=60);position:fixed;left:0;top:0;z-index:1234567890;}
div#spinnerHolder{position:fixed;top:50%;left:50%;}
#menuHolder{width:100%;height:50px;background:url('@back_menuholder') repeat-x #292e33;text-align:center;position:fixed;top:0;left:0;z-index:1000;-webkit-box-shadow:none;-moz-box-shadow:none;box-shadow:none;color:none;}
div.menu{width:960px;height:50px;margin:auto;position:relative;color:#fff;font-size:16px;font-weight:500;text-align:left;}
div.menu a{height:40px;color:#fff;text-decoration:none;line-height:40px;display:inline-block;float:left;}
div.menu a.navactive{color:#fff;text-decoration:none;margin:18px 20px 0 0;}
div.menu a.navinactive{color:#fff;text-decoration:none;margin:18px 20px 0 0;}
div.menu a:hover{color:#fff;text-decoration:none;}
div.menu a.logo:link{width:200px;height:42px;display:block;background:url('@logo_magnetme_small') no-repeat;position:absolute;top:7px;left:7px;}
div.menu a.logo:visited{width:200px;height:42px;display:block;background:url('@logo_magnetme_small') no-repeat;position:absolute;top:7px;left:7px;}
div.menu a.logo:hover{width:200px;height:42px;display:block;background:url('@logo_magnetme_small') no-repeat;position:absolute;top:7px;left:7px;}
div.menu a.logo:active{width:200px;height:42px;display:block;background:url('@logo_magnetme_small') no-repeat;position:absolute;top:7px;left:7px;}
#contentHolder{width:100%;min-height:500px;text-align:center;padding:50px 0 0 0;}
div.content{width:980px;min-height:500px;margin:24px auto 24px auto;text-align:left;}
.clearfix{height:0px;clear:both;float:none;}
div.dev{width:100px;padding:5px;position:absolute;top:2px;left:2px;z-index:1000;border:1px dashed #000;text-align:left;font-size:10px;}
div.update{width:100%;padding:10px;background:#fff6bf;position:fixed;top:0;left:0;z-index:10001;text-align:center;font-size:16px;font-weight:500;border:#ffd324;color:#817134;}
div.error{width:100%;padding:10px;background:#fbe3e4;position:fixed;top:0;left:0;z-index:10001;text-align:center;font-size:16px;font-weight:500;border:#fbe3e4;color:#d12f19;}
div.notice{width:100%;padding:10px;background:#fff6bf;border:solid 1px #ffd324;color:#817134;border-radius:5px;}
.dontshow{display:none;}
a.greenButton,a.greenButton:visited,a.greenButton:active,a.greenButton:hover,a.greenButton:link{display:inline-block;padding:5px 10px;color:white;background:#00a550;font-weight:500;font-size:12px;}
div.top{width:960px;height:90px;margin:auto;text-align:left;position:relative;top:0;left:0;}
#tooltip{line-height:16px;width:300px;text-align:left;position:absolute;z-index:3000;border:2px solid #64696e;background-color:#eee;}
#tooltip div{margin:5px;font-weight:normal;color:#000;background-color:#edf0f2;padding:0px;text-indent:0px;}
#tooltip h3{margin:5px;font-weight:normal;color:#000;background-color:#edf0f2;padding:0px;text-indent:0px;box-shadow:none;}
div.loginForm{width:300px;height:200px;padding:10px;text-align:left;}
table.recruiterList{width:480px;margin:10px;display:inline-block;}
table.recruiterList thead th.caption{color:#cc3c3c;font-size:22px;font-weight:500;line-height:24px;margin:0 10px 20px 0;padding:0 0 20px 0;text-align:left;}
table.recruiterList td{vertical-align:middle;padding:5px;cursor:pointer;}
table.recruiterList td.width50{width:50px;}
table.recruiterList td.width80{width:80px;}
table.recruiterList td.width350{width:350px;}
.bericht{text-align:left;}
.bericht .header{background:#eee;padding:20px;overflow:auto;}
.bericht .header span{display:inline-block;width:315px;margin:0 0 2px 0;}
.bericht .header span.head{width:80px;}
.bericht .header span.bold{font-weight:bold;}
.bericht .header a:link{text-decoration:none;}
.bericht .header a:active{text-decoration:none;}
.bericht .header a:visited{text-decoration:none;}
.bericht .header a:hover{text-decoration:underline;}
.msgDetail br{clear:both;}
.msgDetail p{padding:20px;}
.bericht .fromPhoto{width:70px;margin:0 20px 0 0;text-align:center;font-size:10px;float:left;}
.bericht .fromInfo{width:400px;display:inline-block;float:left;}
.msgDetail hr{clear:both;}
fieldset.horizontal{margin:0;padding:0;border:0;font-size:12px;}
fieldset.horizontal label{width:150px;height:25px;color:#000;float:left;display:inline-block;line-height:20px;font-weight:500;margin:0;padding:5px;}
fieldset.horizontal label.smallLabel{width:160px;display:inline-block;}
fieldset.horizontal input,select{display:inline-block;margin:0 0 2px 0;padding:5px;}
fieldset.horizontal br{clear:both;}
fieldset.horizontal .button{margin:10px 10px 0 0;cursor:pointer;padding:5px;text-decoration:underline;}
fieldset.horizontal .button:hover{text-decoration:none;}
.signupform fieldset.horizontal label{width:140px;}
.signupform fieldset.horizontal .form300{width:290px;}
fieldset.vert{margin:0;padding:0;border:0;}
fieldset.vert label{width:300px;height:20px;color:#000;display:inline-block;line-height:20px;padding:5px;}
fieldset.vert input,select{padding:5px;display:inline-block;}
fieldset.vert select{margin:0 0 2px 0;}
fieldset.vert br{clear:both;}
fieldset.vert .button{margin:10px 10px 0 0;cursor:pointer;padding:5px;text-decoration:underline;}
fieldset.vert .button:hover{text-decoration:none;}
input,select,textarea{color:#000;font-weight:normal;border:1px solid #ccc;background-color:#ffffff;}
textarea{height:150px;}
.button{border:0;background:#cc3c3c;color:#fff;cursor:pointer;}
.afterInput{height:25px;line-height:25px;font-size:12px;}
.formblank{border:0px;background-color:transparent;margin:10px 0;}
.form220{width:220px;}
select.form220{width:232px;}
.form232{width:232px;}
.form300{width:300px;}
.form400{width:400px;}
.textarea200{width:200px;}
.textarea300{width:310px;}
.textarea400{width:410px;}
div.oid{float:left;width:300px;margin:0 0 15px 0;}
div.oid .imageoptions{display:none;}
div.oid img{display:none;}
div.oid br{display:none;}
div.studieinfo td,div.studieinfo th{padding-left:10px;}
div.studieinfo{padding-top:5px;}
div.studieinfo table{width:100%;}
div.studieinfo th{font-size:120%;text-align:left;border-bottom:1px solid black;}
